/*
  Tahrim Hossain
  IntroCS pd05 sec08
  HW05 -- Stuylin' / HTML / Stylesheets
  2021-02-19
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */


h1 {
	font-family: Trebuchet MS, sans-serif;
  color: red;
}

h2 {
  font-family: Helvetica, sans-serif; 
	color: green;
}

body {
  background-color: black;
}

ul {
	color: pink;
}

p {
	color: white;
	font-family: Tahoma, sans-serif;
}

a {
	color: blue;
}
